.container
  //a.btn.btn-default(href="/") 首页
  //a.btn.btn-default(href="/admin/apk") 新增
  //a.btn.btn-default(href="/admin/list") 列表
.container
  .row
    .page-header
      h2
        a(href="/") 信宜通商城
      small 优选驿站
