body{
	padding: 5px 5px 20px 5px;
}
img{
	max-width: 100%; 
}
.text-ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.page-header {
    margin: 0 0 10px;
}

dd {
    margin-left: 10px;
}