extends ../layout

block content
  .container
    .row
      .col-md-7
        img(src="#{apk.language}")
      .col-md-5
        dl.dl-horizontal
          dt 商品名称
          dd=  apk.title
          dt 价格
          dd=   apk.doctor
          dt 产地
          dd=   apk.country
          dt 介绍
          dd=   apk.summary
          dd
            a.btn.btn-danger(href="#{apk.flash}" target="_blank") 购买
